In [3]:
import gpu_tracking
path = r"C:\Users\andre\Documents\tracking_optimizations\gpu-tracking\tiff_vsi\vsi dummy\_Process_9747_\stack1\frame_t_0.ets"
gpu_tracking.batch_file(path, 9, channel = 1)

         frame       mass           y           x
0            0  76.032745    4.886278   13.385576
1            0  58.360565   36.973217    9.557249
2            0  82.947456   16.360886   26.109989
3            0  68.476852   31.035017   27.631977
4            0  64.892532   36.230091   47.774570
...        ...        ...         ...         ...
1245025   1999  60.330502  478.285461  338.405579
1245026   1999  64.201729  498.558044  319.231964
1245027   1999  59.614021  501.582275  331.516846
1245028   1999  50.804535  484.764191  352.450470
1245029   1999  40.329433  491.142822  343.285126

[1245030 rows x 4 columns]