In [18]:
import pickle
import numpy as np
# with open("test", "rb") as file:
#     data = np.frombuffer(file.read(), dtype = "float32").copy()
import trackpy as tp
import pandas as pd
from scipy.spatial.kdtree import KDTree
from scipy.spatial.distance import cdist
import matplotlib.pyplot as plt
with open("trackpy_reference/linked.pkl", "rb") as file:
    tp_df = pickle.load(file)
mapping = {}
result = []
counter = 0
tp_df = tp_df.sort_index()
for part_id in tp_df.particle:
    if part_id in mapping:
        result.append(mapping[part_id])
    else:
        result.append(counter)
        mapping[part_id] = counter
        counter += 1
tp_df["tp_part"] = tp_df["particle"]
tp_df["particle"] = result
tp_df_full = tp_df
tp_df = tp_df[["frame", "y", "x", "particle"]]
import gpu_tracking

In [12]:
tp_df

         frame           y           x  particle
0            0    4.220573   74.692416         0
1            0    4.599053  270.108974         1
2            0    4.623336  494.512906         2
3            0    5.025773    9.336279         3
4            0    4.810352  121.785098         4
...        ...         ...         ...       ...
1844907   1999  506.187298  312.000673    602680
1844908   1999  506.488584   25.133598    601773
1844909   1999  506.430665   44.800840    602373
1844910   1999  507.163214  251.716461    601480
1844911   1999  507.296430  347.154325    602681

[1844912 rows x 4 columns]

In [2]:
with open("trackpy_reference/locations.pkl", "rb") as file:
    data = pickle.load(file)

In [10]:
data

                  y           x         mass  frame
0          4.220573   74.692416  1054.478337      0
1          4.599053  270.108974   737.670025      0
2          4.623336  494.512906  1009.522685      0
3          5.025773    9.336279   922.702762      0
4          4.810352  121.785098   638.806371      0
...             ...         ...          ...    ...
1844907  506.187298  312.000673   685.761845   1999
1844908  506.488584   25.133598   800.269738   1999
1844909  506.430665   44.800840   385.573804   1999
1844910  507.163214  251.716461  3039.912902   1999
1844911  507.296430  347.154325   955.871561   1999

[1844912 rows x 4 columns]

In [13]:
mine = gpu_tracking.link(data[["frame", "mass", "x", "y"]].to_numpy().astype("float32"), 9)

In [ ]:
my_df = pd.DataFrame(data, columns = ["frame", "x", "y", "particle"]).astype({"frame": int, "particle": int})
my_df = my_df[["frame", "y", "x", "particle"]]